{% extends "core/base.html" %}

{% block content %}
<div class="mt-5 p-4 relative z-10 bg-white border rounded-xl sm:mt-10 md:p-10 ">

    {% if messages %} {% for message in messages %}
    <div class="bg-{{message.tags}}-50 border border-{{message.tags}}-200 text-sm text-center text-{{message.tags}}-600 rounded-md p-4 mb-6"
        role="alert">
        {{ message|safe }}
    </div>
    {% endfor %} {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-4 sm:mb-8">
            <label for="name" class="block mb-2 text-sm font-medium ">Nama</label>
            <input type="text" id="name" name="name"
                class="py-3 px-4 block w-full border border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 sm:p-4"
                placeholder="Nama anda">
        </div>

        <div>
            <label for="message" class="block mb-2 text-sm font-medium ">Saran</label>
            <div class="mt-1">
                <textarea id="message" name="message" rows="3"
                    class="py-3 px-4 block w-full border border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 sm:p-4"
                    placeholder="Masukan saran disini..."></textarea>
            </div>
        </div>

        <div class="mt-6 grid">
            <button type="submit"
                class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all">Kirim</button>
        </div>
    </form>
</div>
{% endblock content %}